@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(0, 0, 0, 0.95);
    color:rgba(255, 255, 255, 0.925)
}

.text-color, .hover\:text-color:hover {
    color:rgba(255, 255, 255, 0.925)
}

.bg-color {
    background-color: rgba(255, 255, 255, 0.075);
}